html {
     color: white;
    }
body {
     background: url(../img/rf/bg.gif) repeat;
}
pre, code {
    font-family: monospace;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}
.mof--hidden {
    display: block;
}
.rf--hidden {
    display: none;
}
.footer {
    text-align: center;
    padding: 16px;
}
a {
    color: white;
}
#link, #postlink {
    text-decoration: none;
}
#link:hover,
#link:focus,
#postlink:hover,
#postlink:focus {
    text-decoration: underline;
}
#blog {
    padding-top: 32px;
    padding-bottom: 32px;
}
#blog li,
#blog ul,
#tagarray {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}
#tagarray li {
    display: inline-block;
    margin-right: 0.5em;
}
.blogpost h1,
.blogpost h2,
.blogpost h3,
.blogpost h4,
.blogpost h5,
.blogpost h6 {
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}
.blogpost img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: 16px auto;
}
.head,
.section {
     padding-top: 16px;
     padding-bottom: 16px;
     flex-grow: 1;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.head.blog, .section {
     display: block;
}
.head.blog #title {
    padding: 0;
}
.section.nopadding {
    padding: 0;
}
#eighteightthreeone {
    image-rendering: pixelated;
    padding-left: 2px;
    padding-right: 2px;
    transition: 0.2s;
}
#nocss {
    display: none;
}
@media (min-width: 1024px) {
   html {
    font-size: 20px;
  }
}