@font-face {
    font-family: "inter";
    src: url("fonts/inter.ttf");
}
@keyframes gradient {
0% {
    background-position: 0% 50%;
  }
50% {
    background-position: 100% 50%;
   }
100% {
    background-position: 0% 50%;
   }
  }
html, body {
    background: linear-gradient(-50deg, rgba(45, 51, 57, .5), rgba(100, 82, 83, .5), rgba(57, 51, 45, .5));
    animation: gradient 20s ease-in-out infinite;
    background-size: 500% 500%;
    background-color: #2d3339;
    color: #dce8f4;
    font-family: "inter", sans-serif;
    font-size: 1.1em;
    }
a {
    text-decoration: underline !important;
    }
a.button, button.button {
      background-color: rgb(111, 125, 138);
      color: #dce8f4;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 15px 15px 15px 15px;
      border: 15px 15px 15px 15px white;
      text-decoration: none !important;
      transition: 0.2s;
  }
a.button:hover, .navbtn:hover, button.button:hover {
    background-color: rgb(75, 84, 92);
}
button.button:disabled {
    background-color: rgb(111, 125, 138);
    opacity: 0.5;
    cursor: not-allowed;
}