---
import Layout from '../layouts/Site.astro';
---
<Layout title="404 Not Found">
     <div class="head">
      <h1 id="title">🚫 404 Not Found</h1>
      <div>Ooopsy! This page does not exist. It may have been moved, renamed or deleted.</div>
   </div>
</Layout>