---
import Layout from '../layouts/Layout.astro';
---
<Layout title="404 Not Found">
   <div class="text-3xl font-bold m-1">404 Not Found 🚫</div>
   <div class="text-base">
     <p>Ooopsy! This page does not exist. It may have been moved, renamed or deleted.</p>
   </div>
</Layout>