---
import Layout from '../layouts/Layout.astro';
---
<Layout title="Clyron">
   <div class="text-3xl font-semibold m-1">404 Not Found 🚫</div>
   <div class="text-base">
     <p>Ooopsy! This page does not exist. <a href="/website-exp/">Visit homepage</a></p>
   </div>
</Layout>
