---
import Layout from "../layouts/Layout.astro";
const posts = Object.values(import.meta.glob("../pages/blog/*.md", { eager: true }));
---
<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Blog ✏️</div>
   <div class="text-base">
      <p>My space for long-form thoughts.</p>
   </div>
    {posts.map((post: any) => 
    <div class="box-border border-2 rounded-2xl p-4 m-4">
        <div class="text-2xl"><a href={post.url}>{post.frontmatter.title}</a></div>
        <div class="text-lg">{post.frontmatter.date}</div>
        <div class="text-base">{post.frontmatter.desc}</div>
       </div>
    )}
</Layout>