---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Add me on your website! ➕</div>
   <div class="text-base">
      <p>An 88x31 button you can use to link to my site from your own site for any purpose.</p>
   </div>
   <br>
   <div class="grid justify-items-center">
   <img src="http://clyron.is-a.dev/img/8831/clyron-8831.png">
   <code class="text-base pt-4">&lt;a href="http://clyron.is-a.dev"&gt;&lt;img src="http://clyron.is-a.dev/img/8831/clyron-8831.png"&gt;</code>
   <div class="text italic text-sm pb-4">Select the HTML code, then copy and paste</div>
   </div>
   <div class="text-2xl font-semibold m-1">Project buttons</div>
   <div class="text-base">Because, well, why not?</div>
   <div class="grid justify-items-center">
      <div class="text-1xl font-semibold">Lynxmic button</div>
      <img src="http://clyron.is-a.dev/img/8831/lynxmic-8831.png">
      <code class="text-base pt-4">&lt;a href="https://youtube.com/lynxmic"&gt;&lt;img src="http://clyron.is-a.dev/img/8831/lynxmic-8831.png"&gt;</code>
      <div class="text italic text-sm pb-4">Select the HTML code, then copy and paste</div>
      </div>
</Layout>