---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Meet Cairo! 🐱</div>
   <div class="text-base">
      <p>Detailed info about my Original Character (OC).</p>
      <br>
      </div>
      <div class="text-2xl font-semibold m-1">Basic Information</div>
      <div class="grid grid-cols-[10%_1fr]">
      <img class="w-full h-auto ml-4 rounded-full" src="/img/oc/pfp.png">
      <div class="flex flex-col justify-start items-start ml-14">
        <ul class="list-disc">
            <li>
            <div class="text-base">Name: Cairo</div>
            </li>
            <li>
            <div class="text-base">Pronouns: any/all</div>
            </li>
            <li>
            <div class="text-base">Species: Cat, human</div>
            </li>
            <li>
            <div class="text-base">Residence: Clashire, Clyronia</div>
            </li>
            <li>
            <div class="text-base italic">Glasses are optional.</div>
            </li>
        </ul>
      </div>
      </div>
      <br>
      <div class="text-2xl font-semibold m-1">Appearance & Description</div>
      <div class="grid grid-cols-[7%_1fr]">
        <div class="ml-5">
        <img class="w-full h-auto" src="/img/oc/body.png">
        <div class="text-base ml-4">5'25"</div>
        <div class="text-sm italic ml-2">(160cm)</div>
        </div>
        <div class="ml-10">
          <div class="text-base">Cairo is an ace anthro cat. They are socially shy and most times will not start a casual conversation first due to this. Though, if you <i>do</i> talk with them sufficiently and nicely, they can become your friend.</div>
          <div class="text-base">In other words, Cairo is atypical from others their age.</div>
          <br>
          <div class="text-base">Cairo is primarily passionate about anything tech-related, and enjoys anything natural sights and travelling. They're caring of anything surrounding them, but can sometimes become quite nervous if anything inconvenient happens. At times also tries hard to be silly.</div>
        </div>
        </div>
   </div>
  </div>
</Layout>
