---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Changelog">
   <div class="text-3xl font-bold m-1">Changelog 🗒️</div>
   <div class="text-base">
      <p>Website version history and changelogs</p>
      <br>
      <div class="text-2xl font-bold m-1">2.5.2</div>
      <div class="text-sm italic m-1">(08.07.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Changed all Clyron references to <b>KayAurora</b>. Clyron is now being referred to as a previous alias, but the website <b>remains at clyron.is-a.dev for now.</b>
         </li>
         <li>
            Added new <b>88x31 buttons</b>. The Clyron button has been replaced with primary and alternate Kay ones.
         </li>
         <li>
            Added a <code>/discord</code> redirect page, leading to <b>Axeon Network</b>.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Changed timezone shown in introduction.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.5.1</div>
      <div class="text-sm italic m-1">(04.07.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Updated Reference Sheet to include a drawing of Cairo <b>with glasses on</b>.
         </li>
         <li>
             Added support for <b>shorter forms of names</b> and <b>FontAwesome versions</b> as adjustable variables in <code>config.ts</code>.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Updated introduction to reflect on Lynxmic hitting 1,5K subs and mention Axeon's member count.
         </li>
         <li>
            <b><a href="/">Home</a></b>: On par with other 88x31 buttons in use, the Clyron button now <b>renders pixelated</b> and uses <b>relative instead of absolute URL</b>.
         </li>
          <li>
            <b><a href="/socials">Socials</a></b>: Updated YouTube name.
         </li>
         <li>
            Bumped dependencies.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.5</div>
      <div class="text-sm italic m-1">(03.07.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b>Tags have been implemented</b> in the blog! All blog posts have been retroactively applied tags.
         </li>
         <li>
            Added a <b>footer</b>, including information like copyright, licensing and a link to this page.
         </li>
         <li>
            Content no longer live inside a box <b>on small and medium form factors</b>, making it better and more enjoyable to view on phone or tablet screens.
         </li>
          <li>
            <b>Blog post headers</b> have been redesigned and are now more consistent with those of the rest of the site.
         </li>
         <li>
             Added more proper fade animations upon <b>accessing the website</b> and transitioning between pages.
         </li>
         <li>
             <b>On Firefox/Gecko</b>, the fade and gradient animations are disabled at least for the time being. <small>(will try to find a solution eventually to have them properly render)</small>
         </li>
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Added Reference Sheet and a notice that the OC is no longer being used.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Slightly rearranged 88x31 buttons. Plus, they now actually display properly on small form factors with bigger width size.
         </li>
         <li>
            <b><a href="/projects">Projects</a></b>: Split into two separate sections for active and past projects. Also reflect on Lynxmic hitting 1,5K subs.
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Improved wording in some areas for more easier understanding.
         </li>
         <li>
            <b><a href="/blog">Blog index</a></b>: Relocated the <i>View older blog posts</i> button on the top, next to the RSS button.
         </li>
         <li>
            <b><a href="#">Changelog page</a></b>: Added all previous v2.x versions' changelogs.
         </li>
         <li>
            Fixed an issue where images in blog posts would <b>not load when using an RSS reader</b>.
         </li>
         <li>
            Fixed an issue in blog posts where images were <b>weirdly stretching or overflowing</b> on bigger form factors.
         </li>
         <li>
            Fixed the title of the changelog page still displaying as "<i>Home</i>".
         </li>
         <li>
            Fixed an issue where the gradient animation <b>would reset</b> when switching between pages.
         </li>
         <li>
            A <code>config.ts</code> file has been created, including variables used for easier code management.
         </li>
         <li>
            In <code>style.css</code>, all colors are now consistently defined using RGB(A) instead of Hex color code.
         </li>
         <li>
            General file structure cleanup.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.4.2</div>
      <div class="text-sm italic m-1">(05.06.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Changed the Clyron logo from the ring previously used to the newly-introduced glowing star logo.
         </li>
         <li>
            <b><a href="/">Home</a></b>: The biography section now mentions Axeon Network.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.4.1</div>
      <div class="text-sm italic m-1">(02.06.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Updated an outdated link in the <a href="/projects"><b>Projects</b></a> page.
         </li>
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Adjusted formatting and updated the OC's (fictional) residence.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.4</div>
      <div class="text-sm italic m-1">(25.05.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Added the <b>Changelog</b> (<code>/cl</code>) page <small>(the page you're currently looking at!)</small>, tracking version history and changes.
         </li>
         <li>
            The navbar is now an <b>Astro Component</b>, allowing for easier code maintenance. The JavaScript check has been moved inside the component as well.
         </li>
         <li>
            Removed the <b>Retro Site</b> button from homepage. An eventual Retro Frontend will be built on top of clyronwebsite instead of a separate one, for easier maintenance
         </li>
         <li>
            The <b>Visit Homepage</b> button has been removed from the 404 page. Unnecessary, as the navbar exists
         </li>
         <li>
            Updated introduction in homepage. Now specifing just Minecraft as my (Clyron's) "all-time favorite game". Also removed the <a href="/cairo">Cairo</a> line, as the OC is no longer being used. The page continues to be available though.
         </li>
         <li>
            Navbar items and webring names are now <b>bold</b>.
         </li>
         <li>
            Readjusted order in the Socials page. Geometry Dash is now last.
         </li>
         <li>
            Fixed a typo in a CSS class for the blog posts.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.3.1</div>
      <div class="text-sm italic m-1">(30.04.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b><a href="/socials">Socials</a></b>: Mentions of <b>LynxPlaza</b> have been changed to <b>Axeon Network</b>, the new name of the Discord server.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Added a tooltip to the <b>Retro Site</b> button, explaining that an eventual Retro Frontend is coming soon.
         </li>
         <li>
            Slight code cleanup by removing unused CSS classes.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.3</div>
      <div class="text-sm italic m-1">(26.04.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b>Redesigned the navigation bar</b>. Removed the <i>I am just a semi-average internet user~</i> line and moved links outside the box.
         </li>
         <li>
            Adjusted the <b>gradient colors</b> to reflect the Clyron branding in use at this time.
         </li>
         <li>
            Changed the website font from <b>Asap</b> <small>(the Lynxmic font!)</small> <b>to Inter</b>.
         </li>
         <li>
            Transitioning between pages in the website <b>is now smoother</b>, thanks to <code>astro:transitions</code>.
         </li>
         <li>
            The page width <b>has been adjusted</b> in consistency with the blog view.
         </li>
         <li>
            The <code>Greeting.astro</code> component (including seasonal greeting messages in the homepage) has been <b>removed</b>.
         </li>
         <li>
            The <b>Buttons</b> (<code>/buttons</code>) page has been entirely <b>removed</b>, in favor of the homepage 88x31 button section.
         </li>
         <li>
            The <code>/kairo</code> redirect to <code>/cairo</code> has been <b>removed</b>.
         </li>
         <li>
            <b><a href="/404">404 page</a></b>: General overhaul.
         </li>
         <li>
            <b><a href="/">Home</a></b>: The <b>Legacy Site</b> button has been changed to a <b>Retro Site</b> button, that will eventually go to <b>a new Retro Frontend</b>.
         </li>
         <li>
            <b><a href="/blog">Blog index</a></b>: The RSS feed link has been <b>changed to a button</b>. Also, the legacy Lynxmic Blog button has been <b>changed for consistency</b> with the homepage's Retro Site button.
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Do no longer refer to <b>LynxPlaza as the Lynxmic Discord server</b>. Also added DeviantArt, removed Akkoma and adjusted some wordings.
         </li>
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Improved wording when explaining if the Cairo OC wears glasses.
         </li>
         <li>
            Added <code>rel</code> as a prop in the <b>Cards</b> Astro component. This makes possible verifying with Mastodon etc.
         </li>
         <li>
            Blog posts no longer use <code>prose-invert</code>, instead defining custom colors for normal <code>prose</code> <b>via Tailwind's config file</b>.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.2.1</div>
      <div class="text-sm italic m-1">(31.03.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Updated Cairo profile picture and optimized page for mobile.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Fix 88x31 buttons not displaying properly on mobile.
         </li>
         <li>
            Use relative instead of absolute URLs for the logo, and move it inside the <code>/img</code> directory.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.2</div>
      <div class="text-sm italic m-1">(30.03.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b><a href="/cairo">Cairo page</a></b>: Renamed from <b>Kairo to Cairo</b>, updated the body drawing to remove glasses, added profile picture and other additional basic info and lore.
         </li>
         <li>
            As a result <b>of the above renaming</b>, the <code>/kairo</code> page now redirects to <code>/cairo</code>. This redirect will stay until the next major website version.
         </li>
         <li>
            On old/legacy browsers, the website now <b>automatically redirects</b> to clyronwebsite v1 as a fallback.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Added a <b>Legacy Site button</b>, leading to clyronwebsite v1.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Added additional 88x31 buttons and updated introduction.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.1</div>
      <div class="text-sm italic m-1">(19.03.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Added a new page for <b>the new Clyron OC</b>, called <b><a href="/cairo">Kairo</a></b>, and updated introduction in <a href="/">homepage</a> to mention it.
         </li>
         <li>
            <b><a href="/">Home</a></b>: Added 88x31 buttons and webrings (Fediring).
         </li>
         <li>
            <b><a href="/blog">Blog index</a></b>: Removed <b>all pre-Clyron blog posts</b> in favor of a button leading to the legacy Lynxmic Blog.
         </li>
         <li>
            <b><a href="/buttons">Buttons</a></b>: Include the Lynxmic 88x31 button as part of a new <b>Project buttons</b> section.
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Adjusted list to be in order of activity.
         </li>
         <li>
            Custom, non-Tailwind CSS code <b>has been moved</b> into a separate <code>style.css</code> file from the layout files.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0.1</div>
      <div class="text-sm italic m-1">(03.03.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Updated <b>the Clyron 88x31 button</b> and added a Lynxmic 88x31 button in the website's files.
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Removed Revolt.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0</div>
      <div class="text-sm italic m-1">(09.02.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b>Initial non-beta release!</b> This is reflected by links having been changed to remove mentions of <code>website-exp</code>. The website also fully replaces v1 as the default.
         </li>
         <li>
            Added the <a href="/feed.xml"><b>RSS feed!</b></a>
         </li>
         <li>
            <b><a href="/blog">Blog index</a></b>: Sort blog posts from latest to oldest, not otherwise.
         </li>
         <li>
            The Astro Component associated with the seasonal snowflake effects <b>has been removed</b>.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta080225</div>
      <div class="text-sm italic m-1">(08.02.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Improvements to readability of blog posts.
         </li>
         <li>
            Slight backend changes, mainly <b>in preparation for the RSS feed</b>.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta070225</div>
      <div class="text-sm italic m-1">(07.02.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <b><a href="/">Home</a></b>: Added a quick introduction/biography.
         </li>
         <li>
            The seasonal snowflake effects <b>no longer display</b> on the website.
         </li>
         <li>
            Removed mentions of "Public Beta" and "Under Construction", as well as the public beta version <b>in preparation for the final release</b>.
         </li>
         <li>
            Slight cleanup in several pages.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta030225</div>
      <div class="text-sm italic m-1">(03.02.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <i>This version changes the numbering scheme of public betas to include date in the DDMMYY format instead of whatever beta this is.</i>
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Added Revolt. Also, replaced the link to the actual Twitter account with <a href="http://tweets.clyron.is-a.dev">the archive of it</a>.
         </li>
         <li>
            Fixed <b>broken links</b> in blog posts.
         </li>
         <li>
            The <code>Card.astro</code> component <b>now supports buttons</b> through the <code>btn_href</code> and <code>btn_action</code> props, replacing <code>href</code>.
         </li>
         <li>
            Slight cleanup in several pages.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta4</div>
      <div class="text-sm italic m-1">(18.01.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Added an <b>initial implementation of the <a href="/blog">blog</a>!</b> Posts from the v1 website have been ported there.
         </li>
         <li>
            Added a <b>Buttons</b> (<code>/buttons</code>) page, listing self-created 88x31 buttons.
         </li>
         <li>
            Bumped package versions. Most notably, migrated from Astro <b>v4 to v5</b>.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta3</div>
      <div class="text-sm italic m-1">(15.01.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            Proper <b>optimization for small form factors!</b> (e.g. phone and tablet screens)
         </li>
         <li>
            <b><a href="/blog">Blog index</a></b>: Added a link to the website v1 blog as a fallback, for until the actual blog is ready.
         </li>
         <li>
            Added emojis to <b>page titles</b> for a more fun look.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta2</div>
      <div class="text-sm italic m-1">(15.01.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            The background has been changed <b>to an animated gradient</b>, and the font size has been adjusted to be larger.
         </li>
         <li>
            The page width has <b>been adjusted</b> for more space on the sides.
         </li>
         <li>
            The main content box is now <b>rounded</b>.
         </li>
         <li>
            The cards seen in the <a href="/projects">Projects</a> and <a href="/socials">Socials</a> pages <b>have been migrated</b> to an Astro Component.
         </li>
         <li>
            <b><a href="/socials">Socials</a></b>: Fixed a grammatical issue. Also, Twitter is now being referred to as <i>just</i> Twitter, without acknowledging "X" as its name.
         </li>
         <li>
           The website now <b>displays the public beta version</b>, alongside the "Under Construction" line.
         </li>
      </ul>
      <br>
      <div class="text-2xl font-bold m-1">2.0-beta1</div>
      <div class="text-sm italic m-1">(11.01.2025)</div>
      <ul class="list-disc pl-5">
         <li>
            <i>Initial public beta release! This changelog includes differences from the final v1 release.</i>
         </li>
         <li>
            Unlike the v1 iterations, this rewritten website <b>uses Astro and Tailwind CSS</b>, instead of Jekyll and pure CSS.
         </li>
         <li>
            This website replaces the retro Win2K-style found in the v1 website <b>with a simpler design</b>, with logo, navbar, and a simple content box, along with the <i>I am just a semi-average internet user~</i> line.
         </li>
         <li>
            <a href="/projects">Projects</a> and <a href="/socials">Socials</a> <b>have been split</b> in their own pages, separate from the homepage. 
         </li>
      </ul>
      <br>
   </div>
</Layout>
