---
import Layout from '../layouts/Site.astro';
---

<Layout title="Devices" head="💻 Devices!" desc="A list of my devices that I own!">
   <h2 class="section">Computers!</h2>
   <div class="section">
      <h3>Lenovo IdeaPad 1 15ALC7</h3>
      <h5><i>my main PC!</i></h5>
   </div>
   <ul class="list">
   <li><b>CPU:</b> AMD Ryzen 7 5700U (Zen 2/Lucienne)</li>
   <li><b>GPU:</b> AMD Radeon RX Vega 8 <small>(integrated)</small></li>
   <li><b>RAM:</b> 12GB DDR4</li>
   <li><b>Storage:</b> 500GB Western Digital NVMe SSD</li>
   <li><b>OS:</b>
   <ul>
      <li>Arch Linux with KDE Plasma <small>(primary)</small></li>
      <li>Windows 10 IoT LTSC 2021 <small>(secondary)</small></li></ul></li>
   </ul>
   <div class="section">
      <h3>Lenovo G50-70</h3>
      <h5><i>my secondary/old main PC!</i></h5>
   </div>
   <ul class="list">
      <li><b>CPU:</b> Intel Core i5-4210U (4th gen/Haswell)</li>
      <li><b>GPU:</b> Integrated Intel GPU</li>
      <li><b>RAM:</b> 4GB DDR3</li>
      <li><b>Storage:</b>
      <ul>
         <li>128GB Kingston SATA SSD <small>(boot drive)</small></li>
         <li>1TB Western Digital HDD <small>(storage drive)</small></li>
      </ul></li>
      <li><b>OS:</b> Windows 10 LTSC 2019 x64</li>
   </ul>
      <div class="section">
      <h3>Lenovo ThinkPad T61</h3>
      <h5><i>my retro machine!</i></h5>
   </div>
   <ul class="list">
         <li><b>CPU:</b> Intel Core 2 Duo T8300 (Penryn)</li>
         <li><b>GPU:</b> Integrated Intel GPU</li>
         <li><b>RAM:</b> 2GB DDR2</li>
         <li><b>Storage:</b> 150GB Hitachi HDD</li>
         <li><b>OS:</b> Windows Vista Ultimate SP2 x64</li>
   </ul>
   <h2 class="section">Phones!</h2>
   <ul class="list">
         <li><b>Samsung Galaxy A26 5G</b>, running Android 15 with One UI 7 <small>(primary)</small></li>
         <li><b>Xiaomi Redmi 10 2022</b>, running Android 13 with MIUI 14 <small>(secondary)</small></li>
         <li><b>Samsung Galaxy A23 5G</b>, running Android 14 with One UI 6 <small>(backup)</small></li>
      </ul>
</Layout>