---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
import Box from '../components/Box.astro';
---

<Layout title="Home" head="ðŸ‘‹ Hi there!~" desc=`You landed on ${d.name}'s personal website! ^w^`>
      <div>Who I am:
        <ul class="list nobullet">
        <li>ðŸ’» <b>I am a tech (mainly software) nerd</b> who happens to know a thing or two about coding <i><small>(<a href="/devices">list of devices</a>)</small></i></li>
        <li>ðŸ“¹ <b>I occasionally make videos</b> on YouTube about things I enjoy~</li>
        <li>ðŸ’– <b>Additionally into</b> exploring the outdoors <i><small>(touching grassâ„¢)</small></i>, media perservation, gaming etc.</li>
        </ul>
        <br>
        <div><b>Pronouns:</b> {d.pronouns} <small><i>(I don't care :p)</i></small></div>
        <div><b>Timezone:</b> UTC{d.tz}</div>
      </div>
   </div>
    <div class="grid">
    <Box title="â­ Buttons!">
      <div>
      <a href="https://axeon-network.github.io"><img src="/img/8831/axeon2.png" title="Axeon Network" id="eighteightthreeone"></a>
      <a href="https://wetdry.world/@clyron"><img src="/img/8831/wetdryworld.png" title="Wet-Dry World" id="eighteightthreeone"></a>
      <a href="http://bsky.app/profile/did:plc:fqvzbqsjzjkl4o66rfp6cgk3"><img src="/img/8831/bluesky.gif" title="Bluesky" id="eighteightthreeone"></a>
      <img src="/img/8831/gnu-linux.gif" title="Made on GNU/Linux" id="eighteightthreeone">
      <a href="https://archlinux.org"><img src="/img/8831/archlinux.gif" title="Arch Linux" id="eighteightthreeone"></a>
      <a href="https://code.visualstudio.com/"><img src="/img/8831/vscode.gif" title="Visual Studio Code" id="eighteightthreeone"></a>
      <img src="/img/8831/ublockoriginnow.png" title="uBlock Origin Now" id="eighteightthreeone">
      <img src="/img/8831/ieexplode.gif" title="Internet Exploder" id="eighteightthreeone">
      <img src="/img/8831/saynotoweb3.gif" title="Say no to Web3" id="eighteightthreeone">
      <img src="/img/8831/eyes.gif" title="Best viewed with EYES" id="eighteightthreeone">
      <img src="/img/8831/valid-any.gif" title="Any Browser!" id="eighteightthreeone">
      <a href="https://googleballs.com"><img src="/img/8831/googleballs.png" title="Google Balls!!" id="eighteightthreeone"></a>
      </div>
      <div>
         <div style="padding-top:10px; padding-bottom:10px;"><b>My buttons!</b></div>
         <img src="/img/8831/kay.png" id="eighteightthreeone" class="mybutton" data-copy='&lt;a href="http://kay.is-a.dev"&gt;&lt;img src="http://kay.is-a.dev/img/8831/kay.png"&gt;' style="cursor:pointer;">
         <img src="/img/8831/kaynight.png" id="eighteightthreeone" class="mybutton" data-copy='&lt;a href="http://kay.is-a.dev"&gt;&lt;img src="http://kay.is-a.dev/img/8831/kaynight.png"&gt;' style="cursor:pointer;">
         <div id="clicktocopy" class="rf--hidden"></div>
         </div>
         <script>
            const status = document.getElementById('clicktocopy');

            const copyInstructions = '<i>Click on one of the buttons to copy and paste the HTML code!</i>';
            status.innerHTML = copyInstructions;

            document.querySelectorAll('.mybutton').forEach(btn => {
              const element = btn as HTMLElement;
              element.addEventListener('click', () => {
             const text = element.dataset.copy;

            navigator.clipboard.writeText(text)
              .then(() => {
                status.innerHTML = '<b>âœ… Copied!</b>';
              setTimeout(() => {
               status.innerHTML = copyInstructions;
               }, 1000);
           });
         });
     });
     </script>
    </Box>
    <Box title="ðŸª Webrings!">
       <div><b><a href="https://fediring.net/">Fediring</a>:</b> <a href="https://fediring.net/previous?host=kay.is-a.dev">&lt;&#45;&#45;</a> <a href="https://fediring.net/random">Random</a> <a href="https://fediring.net/next?host=kay.is-a.dev">&#45;&#45;&gt;</a></div>
    </Box>
       <div class="mof--hidden" style="margin-top: 20px;">
          <b>Warning!</b> Not all of the button or webring links may work on ancient browsers.
        </div>
    </div>
</Layout>
