---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1" id="greeting"><Greeting></Greeting><noscript>Hi there! 👋</noscript></div>
   <div class="text-base">
      <p>I am <b>Clyron</b>. Welcome to my front page on the internet. Feel free to explore around.</p>
   </div>
  </div>
</Layout>