---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
import Buttons from '../components/Buttons.astro';
---

<Layout title="Home">
   <div class="head">
      <h1 id="title">👋 Hi there!~</h1>
      <div>You landed on <b>{d.name}</b>'s personal website!</div>
   </div>
      <div>Who I am:
        <ul class="rof--hidden">
         <li><b>I am a tech (mainly software) nerd</b> and enjoy tinkering with it every day.</li>
         <li><b>I enjoy various natural sights I stumble across</b> and like taking photos out of them.</li>
         <li><b>Additionally interested</b> in perservation/archiving, occasional gaming etc.</li>
         <li><b>Any Pronouns</b>, timezone GMT+2 <small><i>(CEST)</i></small></li>
        </ul>
        <ul class="list nobullet rf--hidden">
        <li>💻 <b>I am a tech (mainly software) nerd</b> and enjoy tinkering with it every day.</li>
        <li>🌲 <b>I enjoy various natural sights I stumble across</b> and like taking photos out of them.</li>
        <li>💿 <b>Additionally interested</b> in perservation/archiving, occasional gaming etc.</li>
        <li></li>
        <li></li>
        <li></li>
        <li><b>Pronouns:</b> Any <small><i>(I don't care :p)</i></small></li>
        <li><b>Timezone:</b> GMT+2 <small><i>(CEST)</i></small></li>
        </ul>
        <br>
        <div>You can view my projects <a href="/projects">here</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>, and if you just wanna hit me up, <a href="/socials">here</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>.</div>
        <div>I also have a blog documenting various things, <a href="/blog">here</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>.</div>
      </div>
   </div>
    <Buttons />
         <center><div class="content footer">
    		<div><b>Webrings:</b></div>
         <div><b><a href="https://fediring.net/">Fediring</a>:</b> <a href="https://fediring.net/previous?host=clyron.is-a.dev">&lt;&#45;&#45;</a> <a href="https://fediring.net/random">Random</a> <a href="https://fediring.net/next?host=clyron.is-a.dev">&#45;&#45;&gt;</a></div>
         </div></center>
</Layout>
