---
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1" id="greeting"><Greeting></Greeting><noscript>Hi there! 👋</noscript></div>
   <div class="text-base">
      <p>I am <b>Clyron</b>. Welcome to my front page on the internet.</p>
      <br>
      <div class="text-base">Some things to know about me:
      <ul class="list-disc pl-5">
         <li>
            I run <a href="https://youtube.com/lynxmic"><b>Lynxmic</b></a>, a YouTube channel with over 1,000+ subscribers focused on technology, one of my primary interests
         </li>
         <li>
            I sometimes also work on other personal projects primarily for fun, though most of the time they don't really go beyond planning (lol)
         </li>
         <li>
            I play games (yes) to kill time, currently mainly into <b>Minecraft, Geometry Dash, or anything floating my boat at the moment</b>
         </li>
         <li>
            I like taking photos whenever I have the opportunity, mainly random observations e.g. natural sights
         </li>
         <li>
            I have gone via different internet aliases in the past, there's a chance you may know me under the names of <b>Lynxmic</b> or <b>solarixtech</b>
         </li>
         <li>
            My timezone is <b>GMT+2</b>
         </li>
      </ul>
      <br>
    Feel free to explore this website as much as you want, get started by interacting with the navigation bar above!
   </div>
   </div>
  </div>
</Layout>