---
import { d } from "../config";
import Layout from '../layouts/Site.astro';
import Buttons from '../components/Buttons.astro';
---

<Layout title="Home" head="👋 Hi there!~" desc=`You landed on <b>${d.name}</b>'s personal website! ^w^`>
      <div>Who I am:
        <ul class="list nobullet">
        <li>💻 <b>I am a tech (mainly software) nerd</b> who happens to know a thing or two about coding <i><small>(<a href="/devices">list of devices</a>)</small></i></li>
        <li>📹 <b>I occasionally make videos</b> on YouTube about things I enjoy~</li>
        <li>💖 <b>Additionally into</b> exploring the outdoors <i><small>(touching grass™)</small></i>, media perservation, gaming etc.</li>
        </ul>
        <br>
        <div><b>Pronouns:</b> {d.pronouns} <small><i>(I don't care :p)</i></small></div>
        <div><b>Timezone:</b> UTC{d.tz}</div>
      </div>
   </div>
    <Buttons />
         <center><div class="content footer">
    		<div><b>Webrings:</b></div>
         <div><b><a href="https://fediring.net/">Fediring</a>:</b> <a href="https://fediring.net/previous?host=kay.is-a.dev">&lt;&#45;&#45;</a> <a href="https://fediring.net/random">Random</a> <a href="https://fediring.net/next?host=kay.is-a.dev">&#45;&#45;&gt;</a></div>
         <br style="display:none;"></div></center>
</Layout>
