---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Home">
   <div class="text-3xl font-bold m-1">Hi there! 👋</div>
   <div class="text-base">
      <p>You landed on <b>Clyron</b>'s personal website!</p>
      <br>
      <div class="text-base">Some things to know about me:
      <ul class="list-disc pl-5">
         <li>
            I am a tech (primarily software) nerd. In the "outside world" I have an admiration for various natural sights and travelling in general
         </li>
         <li>
            I am probably best known for running <a href="https://youtube.com/lynxmic"><b>Lynxmic</b></a>, a tech-focused YouTube channel with over 1,000+ subscribers
         </li>
         <li>
            I sometimes also work on other personal projects primarily for fun, though most of the time they don't really go beyond planning (lol)
         </li>
         <li>
            I play games (yes) to kill time, currently mainly into <b>Minecraft, ETS2, Geometry Dash, or anything floating my boat at the moment</b>
         </li>
         <li>
            I have gone via different internet aliases in the past, there's a chance you may recognize the names <b>Lynxmic</b> or <b>solarixtech</b>
         </li>
         <li>
            The character that accompanies my visual branding is <a href="/cairo"><b>Cairo</b></a> (click the link to find out more about them!)
         </li>
         <li>
            My timezone is <b>GMT+3</b>
         </li>
      </ul>
         <br>
   </div>
   </div>
   <div class="text-3xl font-bold m-1">Buttons ⭐</div>
   <div class="grid grid-cols-3 gap-2 ml-3 pb-4 justify-center md:flex md:ml-0">
      <a href="https://wetdry.world/@clyron"><img src="/img/8831/wetdryworld.png" title="Wet-Dry World" style="image-rendering:pixelated;" class="p-1 max-w-none"></a>
      <img src="/img/8831/gnu-linux.gif" title="Made on GNU/Linux" style="image-rendering:pixelated;" class="p-1 max-w-none">
      <a href="https://archlinux.org"><img src="/img/8831/archlinux.gif" title="Arch Linux" style="image-rendering:pixelated;" class="p-1 max-w-none"></a>
      <a href="https://code.visualstudio.com/"><img src="/img/8831/vscode.gif" title="Visual Studio Code" style="image-rendering:pixelated;" class="p-1 max-w-none"></a>
      <a href="https://krita.org"><img src="/img/8831/krita.png" title="Krita" style="image-rendering:pixelated;" class="p-1 max-w-none"></a>
      <img src="/img/8831/ieexplode.gif" title="Internet Exploder" style="image-rendering:pixelated;" class="p-1 max-w-none">
      <img src="/img/8831/saynotoweb3.gif" title="Say no to Web3" style="image-rendering:pixelated;" class="p-1 max-w-none">
      <img src="/img/8831/ublockoriginnow.png" title="uBlock Origin Now" style="image-rendering:pixelated;" class="p-1 max-w-none">
      </div>
      <div class="grid justify-items-center">
         <div class="text-1xl font-semibold">My button!</div>
         <img src="http://clyron.is-a.dev/img/8831/clyron-8831.png" title="Clyron">
         <code class="text-base pt-4">&lt;a href="http://clyron.is-a.dev"&gt;&lt;img src="http://clyron.is-a.dev/img/8831/clyron-8831.png"&gt;</code>
         <div class="text italic text-sm pb-4">Select the HTML code, then copy and paste</div>
         </div>
   <div class="text-3xl font-bold m-1">Webrings 🪐</div>
<p>
   <div class="box-border border-2 rounded-2xl p-4 m-4">
      <div class="flex justify-center">
      <a href="https://fediring.net/" class="text-2xl mb-1">Fediring</a>
      </div>
      <div class="flex justify-center">
      <a class="button mr-2" href="https://fediring.net/previous?host=clyron.is-a.dev" class="text-2xl" title="Previous Website"><i class="fas fa-arrow-left"></i></a>
      <a class="button ml-2 mr-2" href="https://fediring.net/random" class="text-2xl" title="Random Website"><i class="fas fa-shuffle"></i></a>
      <a class="button ml-2" href="https://fediring.net/next?host=clyron.is-a.dev" class="text-2xl" title="Next Website"><i class="fas fa-arrow-right"></i></a>
      </div>
     </div>
</p>
<br>
<div class="grid justify-items-center">
   <button class="button" class="text-2xl" disabled><i class="fas fa-globe"></i> Retro Site</button>
   <div class="text italic text-sm pb-4">(for older browsers)</div>
   </div>
</Layout>