---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Meet Kairo! 🐱</div>
   <div class="text-base">
      <p>Detailed info about the Clyron Original Character (OC). <i>Page under construction</i></p>
      <br>
      </div>
      <div class="text-2xl font-semibold m-1">Appearance</div>
      <div class="grid grid-cols-2 justify-items-center">
      <img src="/img/oc/body.png" width="10%" height="auto">
      <div>
        <div class="text-2xl font-semibold">Basic Information</div>
        <ul class="list-disc pl-5">
            <li>
            <div class="text-base">Name: Kairo</div>
            </li>
            <li>
            <div class="text-base">Pronouns: any/all</div>
            </li>
            <li>
            <div class="text-base">Height: 5'25" <i>(160cm)</i></div>
            </li>
        </ul>
      </div>
      </div>
      <div class="text-2xl font-semibold m-1">Description</div>
      <div class="text-base">Kairo is a cat with some humane and robotic characteristics. They are socially shy and most times will not start a casual conversation first due to this. Though, if you <i>do</i> talk with them sufficiently and nicely, they can become your friend.</div>
      <div class="text-base">In other words, Kairo is atypical from others their age.</div>
   </div>
  </div>
</Layout>
