---
import Layout from '../layouts/Site.astro';
---

<Layout title="Projects">
   <div class="head">
      <div id="title">💻 Projects!</div>
      <div>What I do!</div>
   </div>
   <ul class="list">
   <li><b>Lynxmic</b>, an tech-oriented YouTube channel with 1,5k+ subscribers. <a href="http://youtube.com/lynxmic">Visit&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></a></li>
   <li><b>Axeon Network</b>, a series of community-oriented projects. Includes the <a href="/discord">Discord server&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></a>, the <a href="https://rvlt.gg/JaMp6gXf">Revolt server&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></a>, and the MidoriMC Minecraft (Java) Server.</li>
   <li><b>This website</b>, gateway to my internet presence, made with Astro. <a href="https://github.com/thekayaurora/thekayaurora.github.io">See source code&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></a></li>
   <li><b>Venus</b>, a multi-purpose Discord Bot, made with Discord.js. Discontinued as of 2019. <a href="https://github.com/thekayaurora/Venus">See source code&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></a></li>
   </ul>
</Layout>