---
import Layout from '../layouts/Site.astro';
---

<Layout title="Projects" head="💻 Projects!" desc="What I do!">
   <div>Projects I'm currently actively working or involving in:</div>
   <br>
   <ul class="list nobullet">
   <li><i class="fas fa-globe"></i>&nbsp;<a href="https://axeon-network.github.io"><b>Axeon Network:</b></a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>&nbsp;A series of community-oriented projects.</li>
   <ul class="list nobullet">
      <li><i class="fas fa-book"></i>&nbsp;<a href="https://axeon-network.github.io/kurowiki"><b>KuroWiki:</b></a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>&nbsp;The wiki of the Axeon Network, with its own Deltari engine!</li>
   </ul>
   <li><i class="fas fa-earth-americas"></i>&nbsp;<a href="#"><b>KayWebsite:</b></a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>&nbsp;The website you're currently on right now!</li>
   </ul>
   <br>
   <div>Projects I used to work on:</div>
   <br>
   <ul class="list nobullet">
      <li><i class="fab fa-youtube"></i>&nbsp;<a href="https://youtube.com/lynxmic"><b>Lynxmic:</b></a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>&nbsp;A tech-oriented YouTube channel mostly focused on software/VMs. 1.5k+ subs. <small>(2016-2025)</small></li>
      <li><i class="fab fa-discord"></i>&nbsp;<a href="https://github.com/thekayaurora/Venus"><b>Venus:</b></a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>&nbsp;A multi-purpose Discord Bot made with Discord.js. <small>(2018-2019)</small></li>
   </ul>
</Layout>