---
import Layout from '../layouts/Site.astro';
---

<Layout title="Projects">
   <div class="head">
      <h1 id="title">💻 Projects!</h1>
      <div>What I do!</div>
   </div>
   <ul class="list">
   <li><b>Axeon Network</b>, a series of community-oriented projects. Includes the <a href="/discord">Discord server</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i>, and <small>(previously)</small> MidoriMC.</li>
   <li><b>Lynxmic</b>, a tech-oriented YouTube channel with 1,5k+ subscribers. <a href="http://youtube.com/lynxmic">Visit</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><b>This website</b>, gateway to my internet presence, made with Astro. <a href="https://github.com/thekayaurora/thekayaurora.github.io">See source code</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><b>Venus</b>, a multi-purpose Discord Bot, made with Discord.js. Discontinued as of 2019. <a href="https://github.com/thekayaurora/Venus">See source code</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   </ul>
</Layout>