---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Projects</div>
   <div class="text-base">
      <p>Notable present and past projects I have worked on.</p>
   </div>
   <div class="grid grid-cols-3 p-4 justify-items-center">
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fab fa-youtube"></i> Lynxmic</div>
        <div class="text-lg"><a href="https://youtube.com/lynxmic">Channel</a></div>
        <div class="text-base">Technology-focused YouTube channel with an amazing community of 1,300+ subs and growing!</div>
       </div>
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fas fa-globe"></i> clyron.is-a.dev</div>
        <div class="text-lg"><a href="#">Website</a></div>
        <div class="text-base">The website you're on right now! Proudly made with Astro and Tailwind CSS ^_^</div>
       </div>
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fab fa-discord"></i> Venus</div>
        <div class="text-lg"><a href="https://github.com/theclyron/Venus">Discord Bot</a></div>
        <div class="text-base">Multi-purpose Discord bot with some ambition. Started in 2018, discontinued 2019</div>
       </div>
   </div>
  </div>
</Layout>