---
import Layout from '../layouts/Layout.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Socials</div>
   <div class="text-base">
      <p>Where you can find me!</p>
      <br>
   </div>
   <div class="text-2xl font-semibold m-1">High priority socials</div>
   <div class="text-base">The following socials are those that I do check most often.</div>
   <div class="grid grid-cols-3 p-4 justify-items-center">
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fab fa-mastodon"></i> Mastodon</div>
        <div class="text-lg"><a href="https://wetdry.world/@clyron">@clyron@wetdry.world</a></div>
        <div class="text-base">My main Fedi acc, and most used microblogging service. Go ahead and follow what am I up to!</div>
       </div>
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fab fa-bluesky"></i> Bluesky</div>
        <div class="text-lg"><a href="https://bsky.app/profile/clyron.is-a.dev">@clyron.is-a.dev</a></div>
        <div class="text-base">My other primary microblogging platform. Don't check as much, but if you prefer Bluesky...</div>
       </div>
       <div class="box-border border-2 p-4 m-4">
        <div class="text-2xl"><i class="fab fa-discord"></i> Discord Server</div>
        <div class="text-lg"><a href="https://discord.gg/wDxDKJU2sj">LynxPlaza</a></div>
        <div class="text-base">My community server, primarily centered around Lynxmic but anyone is welcome!</div>
       </div>
    </div>
    <div class="text-2xl font-semibold m-1">Accounts elsewhere</div>
    <div class="text-base">Other of my public accounts. Note that not all of them are necessarily socials, but might still be of usefulness</div>
       <div class="grid grid-cols-3 p-4 justify-items-center">
       <div class="box-border border-2 p-4 m-4">
         <div class="text-2xl"><i class="fas fa-question"></i> Akkoma</div>
         <div class="text-lg"><a href="https://labyrinth.zone/clyron">@clyron@labyrinth.zone</a></div>
         <div class="text-base">Secondary/backup Fedi acc (you can follow from Mastodon). Currently used as a space for more serious thoughts.</div>
        </div>
        <div class="box-border border-2 p-4 m-4">
         <div class="text-2xl"><i class="fab fa-twitter"></i> Twitter/"""X"""</div>
         <div class="text-lg"><a href="https://twitter.com/Lynxmic">@Lynxmic</a></div>
         <div class="text-base">ARCHIVED. No longer in use (as of November 2024). Archive of tweets can be found <a href="https://tweets.clyron.is-a.dev">here</a>.</div>
        </div>
        <div class="box-border border-2 p-4 m-4">
          <div class="text-2xl"><i class="fab fa-github"></i> GitHub</div>
          <div class="text-lg"><a href="https://github.com/theclyron">theclyron</a></div>
          <div class="text-base">Where all my open-source code projects are hosted at</div>
         </div>
         <div class="box-border border-2 p-4 m-4">
          <div class="text-2xl"><i class="fab fa-youtube"></i> YouTube</div>
          <div class="text-lg"><a href="https://youtube.com/@Clyron">Clyron</a></div>
          <div class="text-base">My personal YT channel, where I do occasional videos for fun. If I upload, it's gonna mostly be on project channels.</div>
         </div>
         <div class="box-border border-2 p-4 m-4">
          <div class="text-2xl"><i class="fas fa-vector-square"></i> Geometry Dash</div>
          <div class="text-lg"><a href="https://gdbrowser.com/u/elclyron">elclyron</a></div>
          <div class="text-base">uh yes i play gd (especially when im bored lmao) feel free to check my profile idk</div>
         </div>
         <div class="box-border border-2 p-4 m-4">
           <div class="text-2xl"><i class="fas fa-building-columns"></i> Internet Archive</div>
           <div class="text-lg"><a href="https://archive.org/details/@lynxmic">lynxmic</a></div>
           <div class="text-base">Although rare, I do actually upload archive-worthy stuff on there...</div>
          </div>
      </div>
  </div>
</Layout>