---
import Layout from '../layouts/Site.astro';
---

<Layout title="Socials" head="👥 Socials!" desc="Where I am!">
   <div>I am most frequently active on the following platforms:</div>
   <br>
   <ul class="list nobullet">
   <li><i class="fab fa-discord"></i>&nbsp;<b>Discord Server:</b>&nbsp;<a href="https://axeon-network.github.io/discord">Axeon Network</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><i class="fab fa-discord"></i>&nbsp;<b>Discord Username:</b>&nbsp;<a href="http://discord.com/users/241190628178788353">kayaurora</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><i class="fab fa-mastodon"></i>&nbsp;<b>Mastodon:</b>&nbsp;<a rel="me" href="https://wetdry.world/@clyron">@clyron@wetdry.world</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><i class="fab fa-bluesky"></i>&nbsp;<b>Bluesky:</b>&nbsp;<a href="http://bsky.app/profile/did:plc:fqvzbqsjzjkl4o66rfp6cgk3">@kay.is-a.dev</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   </ul>
   <br>
   <div>Accounts everywhere else:</div>
   <br>
   <ul class="list nobullet">
   <li><i class="fab fa-github"></i>&nbsp;<b>GitHub:</b>&nbsp;<a href="http://github.com/thekayaurora">thekayaurora</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   <li><i class="fab fa-youtube"></i>&nbsp;<b>YouTube:</b>&nbsp;<a href="http://youtube.com/@thekayaurora">KayAurora</a>&nbsp;<i class="fas fa-arrow-up-right-from-square fa-xs"></i></li>
   </ul>
</Layout>
