---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Socials</div>
   <div class="text-base">
      <p>Where you can find me!</p>
      <br>
   </div>
   <div class="text-2xl font-semibold m-1">High priority socials</div>
   <div class="text-base">The following socials are those that I do check most often.</div>
   <div class="grid grid-cols-3 p-4 justify-items-center">
      <Card 
        name="Mastodon"
        icon="fab fa-mastodon"
        type="@clyron@wetdry.world"
        href="https://wetdry.world/@clyron"
        desc="My primary social media account & main Fedi acc. Go ahead and follow what am I up to!">
      </Card>
      <Card 
        name="Bluesky"
        icon="fab fa-bluesky"
        type="@clyron.is-a.dev"
        href="https://bsky.app/profile/clyron.is-a.dev"
        desc="I post pretty much as often as on Fedi, otherwise I don't check as frequently">
      </Card>
      <Card 
        name="Discord Server"
        icon="fab fa-discord"
        type="LynxPlaza"
        href="https://discord.gg/wDxDKJU2sj"
        desc="Community server for Lynxmic, primarily tech focused but anyone is welcome!">
     </Card>
    </div>
    <div class="text-2xl font-semibold m-1">Accounts elsewhere</div>
    <div class="text-base">My other public accounts. Note that not all of them are necessarily socials, but might still be of usefulness</div>
       <div class="grid grid-cols-3 p-4 justify-items-center">
       <Card 
         name="Akkoma"
         icon="fas fa-question"
         type="@clyron@labyrinth.zone"
         href="https://labyrinth.zone/clyron"
         desc="My secondary/backup Fedi account (you can follow from Mastodon etc.)">
       </Card>
       <Card 
         name="GitHub"
         icon="fab fa-github"
         type="theclyron"
         href="https://github.com/theclyron"
         desc="Where all my open-source code projects are hosted at">
       </Card>
       <Card 
        name="YouTube"
        icon="fab fa-youtube"
        type="Clyron"
        href="https://youtube.com/@Clyron"
        desc="My personal YT channel. Rarely uploading on this one, mostly focused on project channels">
      </Card>
      <Card 
        name="Geometry Dash"
        icon="fas fa-vector-square"
        type="elclyron"
        href="https://gdbrowser.com/u/elclyron"
        desc="uh yes i play gd (especially when im bored lmao) feel free to check my profile idk">
      </Card>
      <Card 
        name="Internet Archive"
        icon="fas fa-building-columns"
        type="lynxmic"
        href="https://archive.org/details/@lynxmic"
        desc="Although rare, I do actually upload archive-worthy stuff on there...">
     </Card>
     <Card 
        name="Twitter"
        icon="fab fa-twitter"
        type="@Lynxmic"
        href="https://twitter.com/Lynxmic"
        desc="ARCHIVED. No longer in use as of 2024. Archive of tweets can be found at tweets.clyron.is-a.dev">
    </Card>
      </div>
  </div>
</Layout>