---
import Layout from '../layouts/Layout.astro';
import Card from '../components/Card.astro';
---

<Layout
   title="Clyron">
   <div class="text-3xl font-semibold m-1">Socials 👥</div>
   <div class="text-base">
      <p>Where you can find me!</p>
      <br>
   </div>
   <div class="text-2xl font-semibold m-1">High priority socials</div>
   <div class="text-base">The following socials are those that I do check most often.</div>
   <div class="grid md:grid-cols-3 md:p-4 justify-items-center">
      <Card 
        name="Mastodon"
        icon="fab fa-mastodon"
        icon_svg=""
        type="@clyron@wetdry.world"
        desc="My primary social media! Go ahead and follow what am I up to"
        btn_href="https://wetdry.world/@clyron"
        btn_action="Visit">
      </Card>
      <Card 
        name="Bluesky"
        icon="fab fa-bluesky"
        icon_svg=""
        type="@clyron.is-a.dev"
        desc="I post pretty much as often as on Fedi, otherwise I don't check as frequently"
        btn_href="https://bsky.app/profile/clyron.is-a.dev"
        btn_action="Visit">
      </Card>
      <Card
        name="Discord Server"
        icon="fab fa-discord"
        icon_svg=""
        type="LynxPlaza"
        desc="Community server for Lynxmic, primarily tech focused but anyone is welcome!"
        btn_href="https://discord.gg/wDxDKJU2sj"
        btn_action="Join">
     </Card>
    </div>
    <div class="text-2xl font-semibold m-1">Accounts elsewhere</div>
    <div class="text-base">My other public accounts. Note that not all of them are necessarily socials, but might still be of usefulness</div>
       <div class="grid md:grid-cols-3 md:p-4 justify-items-center">
       <Card 
         name="Akkoma"
         icon="fas fa-question"
         icon_svg="fedi"
         type="@clyron@labyrinth.zone"
         desc="My secondary/backup Fedi account (you can follow from Mastodon etc.)"
         btn_href="https://labyrinth.zone/clyron"
         btn_action="Visit">
       </Card>
       <Card 
         name="GitHub"
         icon="fab fa-github"
         icon_svg=""
         type="theclyron"
         desc="Where all my open-source code projects are hosted at"
         btn_href="https://github.com/theclyron"
         btn_action="Visit">
       </Card>
       <Card 
        name="YouTube"
        icon="fab fa-youtube"
        icon_svg=""
        type="Clyron"
        desc="My personal YT channel. Rarely uploading on this one, mostly focused on project channels"
        btn_href="https://youtube.com/@Clyron"
        btn_action="Visit">
      </Card>
      <Card 
        name="Geometry Dash"
        icon=""
        icon_svg="gd"
        type="elclyron"
        desc="uh yes i play gd (especially when im bored lmao) feel free to check my profile idk"
        btn_href="https://gdbrowser.com/u/elclyron"
        btn_action="Visit">
      </Card>
      <Card 
        name="Internet Archive"
        icon="fas fa-building-columns"
        icon_svg=""
        type="lynxmic"
        desc="Although rare, I do actually upload archive-worthy stuff on there..."
        btn_href="https://archive.org/details/@lynxmic"
        btn_action="Visit">
     </Card>
     <Card 
        name="Twitter"
        icon="fab fa-twitter"
        icon_svg=""
        type="@Lynxmic"
        desc="No longer in use, but you can check out the Twitter Archive"
        btn_href="https://tweets.clyron.is-a.dev"
        btn_action="Visit archive">
    </Card>
    <Card 
        name="Revolt"
        icon="fas fa-question"
        icon_svg=""
        type="Clyron#7112"
        desc="An alternative to Discord, in case you're more comfortable there for some reason. Checking very rarely"
        btn_href="#"
        btn_action="look me up there">
    </Card>
      </div>
  </div>
</Layout>