---
interface Props {
	title: string;
}
const { title } = Astro.props;
---
<div>
  <br class="mof--hidden">
  <details>
    <summary>
      <h2 class="section">{title}</h2>
    </summary> <!-- details and summary tags aren't supported on ancient browsers -->
    <slot />
  </details>
</div>
