---
import { d } from "../config";
---
<div class="flex justify-center items-center" id="navbar">
    <div class="text-lg font-semibold m-1 hidden md:inline"><a href="/">Home</a> ・ <a href="/projects">Projects</a></div>
    <div class="size-28 p-4"><img src={d.logo}></div>
    <div class="text-lg font-semibold m-1 hidden md:inline"><a href="/socials">Socials</a> ・ <a href="/blog">Blog</a></div>
</div>
<div class="flex justify-center items-center" id="mobilenavbar">
    <div class="text-lg font-semibold m-1 pb-4 md:hidden"><a href="/">Home</a> ・ <a href="/projects">Projects</a> ・ <a href="/socials">Socials</a> ・ <a href="/blog">Blog</a></div>
</div>
<div class="flex justify-center items-center">
    <noscript><div class="text-base font-semibold italic pb-4">⚠️ JavaScript is disabled, some website functionality may be limited ⚠️</div></noscript>
</div>