---
import { d } from "../config";
---
<div class="navbar">
    <center><div class="center"><div id="logo"></div></div></center>
    <center><h1 class="mof--hidden">{d.name}</h1></center>
    <center><div class="center"><a id="link" href="/">Home</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a id="link" href="/projects">Projects</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a id="link" href="/socials">Socials</a>&nbsp;&nbsp;•&nbsp;&nbsp;<a id="link" href="/blog">Blog</a></div></center>
</div>
<div class="stars">
<div class="star star1"></div>
<div class="star star2"></div>
<div class="star star3"></div>
<div class="star star4"></div>
<div class="star star5"></div>
</div>
<script>
document.addEventListener('DOMContentLoaded', () => {
    const starsContainer = document.querySelector('.stars');
    if (!(starsContainer instanceof HTMLElement)) return;
    const numStars = 5;
    for (let i = 1; i <= numStars; i++) {
        const star = document.createElement('div');
        star.classList.add('star', `star${i}`);
        starsContainer.appendChild(star);
    }
    requestAnimationFrame(() => {
        starsContainer.style.opacity = '0.1';
    });
    document.addEventListener('scroll', () => {
        const scrollY = window.scrollY;
        const fadeEnd = 150;

        if (scrollY >= fadeEnd) {
            starsContainer.style.opacity = '0';
        } else {
            const opacity = 0.1 * (1 - scrollY / fadeEnd);
            starsContainer.style.opacity = opacity.toFixed(3);
        }
    });
});
</script>