<style>
@keyframes snowfall {
    0% {
      transform: translateY(-100%);
    }
    100% {
      transform: translateY(100vh);
    }
  }
  .snowflakes {
    display: none;
    position: fixed; /* Change from absolute to fixed */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none; /* Make snowflakes non-interactive */
    z-index: 1;
  }
  .snowflake {
    position: absolute;
    background-color: #fff;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    animation: snowfall linear infinite;
    opacity: 0.5;
  }
  .snowflake:nth-child(1) {
    left: 15%;
    animation-duration: 15s;
  }
  
  .snowflake:nth-child(2) {
    left: 30%;
    animation-duration: 10s;
  }
  
  .snowflake:nth-child(3) {
    left: 45%;
    animation-duration: 12s;
  }
  
  .snowflake:nth-child(4) {
    left: 60%;
    animation-duration: 18s;
  }
  
  .snowflake:nth-child(5) {
    left: 75%;
    animation-duration: 11s;
  }
  </style>
  <div id="snowflakes-container">
    <div class="snowflakes" id="snowflakes" aria-hidden="true">
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
      <div class="snowflake"></div>
    </div>
  </div>