@font-face {
    font-family: "asap";
    src: url("../components/fonts/asap.ttf");
}
@keyframes gradient {
0% {
    background-position: 0% 50%;
  }
50% {
    background-position: 100% 50%;
   }
100% {
    background-position: 0% 50%;
   }
  }
html, body {
    background: linear-gradient(-50deg, rgba(45, 51, 57, .5), rgba(57, 51, 45, .5));
    animation: gradient 7.5s ease-in infinite;
    background-size: 400% 400%;
    background-color: #2d3339;
    color: #dce8f4;
    font-family: "asap", sans-serif;
    font-size: 1.1em
    }
a {
    text-decoration: underline;
    }
a.button {
      background-color: rgb(59, 69, 79);
      color: #dce8f4;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 15px 15px 15px 15px;
      border: 15px 15px 15px 15px white;
      font-weight: bold;
      text-decoration: none;
      transition: 0.21s;
  }
  a.button:hover, .navbtn:hover {
    background-color: rgb(53, 61, 69);
}