---
import Greeting from '../components/Greeting.astro';
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Clyron's Website! (public beta)" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="https://clyron.is-a.dev/website-exp/logo.png" />
		<meta name="generator" content={Astro.generator} />
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.5.2/css/all.css">
		<title>{ title }</title>
        <style is:global>
            @font-face {
                font-family: "asap";
                src: url("../components/fonts/asap.ttf");
            }
            @keyframes gradient {
           0% {
                background-position: 0% 50%;
              }
           50% {
                background-position: 100% 50%;
               }
           100% {
                background-position: 0% 50%;
               }
              }
            html, body {
                background: linear-gradient(-50deg, rgba(45, 51, 57, .5), rgba(57, 51, 45, .5));
                animation: gradient 7.5s ease-in infinite;
                background-size: 400% 400%;
                background-color: #2d3339;
                color: #ccdae8;
                font-family: "asap", sans-serif;
                font-size: 1.1em
                }
            a {
                text-decoration: underline;
                }
    </style>
	</head>
	<body>
        <div class="grid justify-center" id="logo">
            <div class="size-36 p-4"><img src="https://clyron.is-a.dev/website-exp/logo.png"></div>
          </div>
          <div class="grid justify-center" id="toptext">
         <div class="text-2xl italic">I am just a semi-average internet user~</div>
         </div>
         <div class="box-border border-2 rounded-3xl p-4 ml-10 mr-10 mt-4">
          <div class="grid justify-center" id="navbar">
             <div class="text-lg m-1"><a href="/website-exp/">Home</a> ・ <a href="/website-exp/projects">Projects</a> ・ <a href="/website-exp/socials">Socials</a> ・ <a href="/website-exp/blog">Blog</a></div>
          </div>
		<slot />
        <div><noscript><div class="text-base font-semibold italic m-1">⚠️ JavaScript is disabled, some website functionality may be limited</div></noscript></div>
     <div><div class="text-base font-semibold italic m-1">🚧 This website is under construction. Please report any bugs or other issues by opening a <a href="https://github.com/theclyron/website-exp/issues">GitHub issue</a></div></div>
     <div><div class="text-base font-semibold italic m-1">💻 clyron-website v1.1-beta2</div></div>
	</body>
</html>
